@import "../../../scss/utils.scss";
@import "../../../scss/colors.scss";

.appbarDesk {
  display: flex;
  gap: 2rem;
  height: 5rem;

  @include isSm {
    display: none;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  gap: 2rem;
  height: 100%;
  align-items: center;

  @include isMd {
    gap: 1.5rem;
  }
}

.link {
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: center;
}

.active {
  background-color: $gray-11;
  width: 60%;
  height: 0.2rem;
  position: absolute;
  bottom: -0.2rem;
}
