@import "../../../scss/colors.scss";
@import "../../../scss/utils.scss";

.container {
  @include mediaQueries;
  padding: 4rem 0;
}

.caption {
  color: #fa6c44;
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  @include isXs {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}

.title {
  font-weight: 600;
  font-size: 2rem;
}

// items
.items {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: center;

  @include isLg {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  @include isSm {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 324px;

  @include isLg {
    width: 400px;
  }
  @include isMd {
    width: 350px;
  }
  @include isSm {
    width: 400px;
  }

  @include isXs {
    width: 288px;
  }
}

.hide {
  display: none;

  @include isLg {
    display: inherit;
  }

  @include isSm {
    display: none;
  }
}

.itemImg {
  margin: auto;
  width: 324px;
  height: 216px;

  @include isLg {
    width: 400px;
    height: 267px;
  }

  @include isMd {
    width: 350px;
    height: 234px;
  }
  @include isSm {
    width: 400px;
    height: 267px;
  }
  @include isXs {
    width: 288px;
    height: 193px;
  }
}

.tag {
  color: $gray-8;
}

.itemTitle {
  font-weight: 600;
  font-size: 1.2rem;
}
