@import "../../../scss/utils.scss";
@import "../../../scss/colors.scss";

.container {
  background-color: rgb(241, 241, 239);
}

.content {
  @include mediaQueries;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 4rem;
  justify-items: center;

  @include isLg {
    padding-top: 3rem;
  }

  @include isMd {
    padding-top: 2rem;
  }

  @include isSm {
    grid-template-columns: auto;
    padding-top: 1rem;
    gap: 2rem;
  }

  @include isXs {
    grid-template-columns: auto;
  }
}

.first {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include isLg {
    padding-bottom: 3rem;
  }
  @include isSm {
    padding-bottom: 0;
  }
}

.title {
  font-size: 3.2rem;
  font-weight: 600;
  text-wrap: wrap;

  @include isXs {
    font-size: 3rem;
  }
}

.description {
  color: $gray-8;
  text-wrap: wrap;
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.image {
  height: 500px;
  width: 395px;
  object-fit: contain;
  align-self: end;

  @include isLg {
    height: 450px;
    width: 356px;
  }

  @include isMd {
    height: 400px;
    width: 317px;
  }

  @include isSm {
    height: 380px;
    width: 300;
  }

  @include isXs {
    height: 365px;
    width: 289px;
  }
}
